doctype html 
html(lang='en')
    head 
        link(rel="stylesheet", href="/main.css")
        title #{title}
    body 
        nav 
        ul 
            li 
                a(href='/') Home 
            li 
                a(href='/contactUs') Contact Us
            li 
                a(href='/ourservices') Our Services