doctype html
html(lang="en")
    head
        title #{title}
        link(rel="stylesheet",  type="text/css" , href="../public/main.css")
    body 
      include   ./navbar.pug
      section 
            main 
                div.contactform
                    h1(class="cont") Our services
                    ul.nav
                        li 
                            h3 Certification 
                        li 
                            h3 Training courses 
                    ul.nav 
                        li 
                            h3 Product Certification 
                        li 
                            h3 Food, Agri-Food Solutions 


      